<% title "Reset your Password" %>

<div class="row">
  <div class="col-md-5">
    <%= show_errors(@user) %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2 class="form-signin-heading">Reset Password</h2>
    <%= form_for @user, url: update_password_user_path(@user), html: {method: :put}, class: "form-signin" do |f| %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: "" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password" %>
      <%= hidden_field_tag :token, @token %>
      <%= f.submit "Change password", class: "btn btn-lg btn-dark btn-block", id: "submit_user" %>
    <% end %>
  </div>
</div>
